<mat-card class="movement-item-card">
  <div class="movement-grid">

    <!-- Date -->
    <div class="movement-cell">
      <mat-icon color="primary">event</mat-icon>
      <span>12-12-2024</span>
    </div>

    <!-- Quantité -->
    <div class="movement-cell center">
      <h5>139</h5>
    </div>

    <!-- Type de mouvement -->
    <div class="movement-cell center">
      <mat-icon color="warn">remove_circle</mat-icon>
      <h5>Sorti</h5>
    </div>

    <!-- Source -->
    <div class="movement-cell center">
      <mat-icon color="primary">person</mat-icon>
      <h5>COMMANDE_CLIENT</h5>
    </div>

  </div>
</mat-card>
