<mat-toolbar class="mat-elevation-z3" color="primary">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-panel-title>Gestion De Stock</mat-panel-title>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon  class="demo-section">home</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon   class="demo-section">message</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="langugeMenu">
    <mat-icon  iconPositionEnd>expand_more</mat-icon>
    FR
  </button>
  <mat-menu #langugeMenu>
    <button mat-menu-item>Fr</button>
    <button mat-menu-item>EN</button>
  </mat-menu>

  <button mat-icon-button routerLink="settings">
    <mat-icon>settings</mat-icon>
  </button>

  <button mat-button *ngIf="authService.iAuthenticate">{{authService.username}}</button>
  <button mat-icon-button [matMenuTriggerFor]="userProfile">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userProfile>
    <button mat-menu-item>Profile</button>
    <button mat-menu-item (click)="logOut()" >LogOut</button>
  </mat-menu>
</mat-toolbar>
<!--SideMenu -->
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWith()">
    <app-side-bar [collapsed]="collapsed()"></app-side-bar>
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWith()">
    <router-outlet>

    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
