<router-outlet></router-outlet>
<!--<mat-drawer-container>-->
<!--  <mat-drawer #dashborDrawer mode="side" style="width: auto" opened="true" position="start">-->
<!--    <mat-accordion>-->
<!--      <mat-expansion-panel>-->
<!--        <mat-expansion-panel-header>-->
<!--          <mat-icon>dashboard</mat-icon>-->
<!--         Dashboard-->
<!--        </mat-expansion-panel-header>-->
<!--        <ng-template matExpansionPanelContent>-->
<!--          Some deferred content-->
<!--        </ng-template>-->
<!--      </mat-expansion-panel>-->
<!--    </mat-accordion>-->
<!--  </mat-drawer>-->
<!--  <mat-drawer-content>-->
<!--    <div style="min-height: 816px">-->
<!--      <router-outlet>-->

<!--      </router-outlet>-->
<!--    </div>-->
<!--  </mat-drawer-content>-->
<!--</mat-drawer-container>-->
