.spacer {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  align-items: center;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 8px;
}
